@media screen and (max-width: 420px) {
    .row{
        width:350px;
    }

    img{
        height:90px;
    }

}

@media screen and (max-width: 760px) and (min-width:421px){
    .row{
        width:600px;
    }

    img{
        height:155px;
    }
}